.gitignore
SwiftSnipe
config.json
old_code_for_study
testing_automating_discord
generating_name_list
results
test.py
results.csv
English_vocabulary
config.json.bak
washed_sectioned
saved_results
washed_sectioned_EOWL